/* Estilos base y variables */
:root {
    --primary-color: #176FA6;
    --secondary-color: #707070;
    --font-family-sf: 'SF UI Display', sans-serif;
    --font-family-montserrat: 'Montserrat', sans-serif;
}

/* Fuentes */
@font-face {
    font-family: 'SF UI Display';
    src: url('../fonts/sf-ui-display-light.otf') format('opentype');
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.otf') format('opentype');
}

/* Estilos globales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family-montserrat);
    color: var(--secondary-color);
}

/* Contenedores principales */
.container {
    display: flex;
    gap: 20px;
}

.container-column {
    display: flex;
    flex-direction: column;
}

.container-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Encabezados */
h2 {
    font-family: var(--font-family-montserrat);
    font-size: 70px;
    color: var(--primary-color);
    text-align: center;
}

h3, h4 {
    font-family: var(--font-family-montserrat);
}

h3 {
    font-size: 18px;
    padding: 10px 0;
}

h4 {
    font-size: 14px;
    padding: 10px;
}

/* Estilos de texto */
.text-primary {
    color: var(--primary-color);
}

.text-secondary {
    color: var(--secondary-color);
}

.text-italic {
    font-style: italic;
}

/* Estilos de márgenes y paddings */
.p-10 {
    padding: 10px;
}

.p-lr-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.p-top-10 {
    padding-top: 10px;
}

.m-0 {
    margin: 0;
}

.m-auto {
    margin: auto;
}

/* Fondo y bordes */
.bg-primary {
    background-color: var(--primary-color);
}

.bg-white {
    background-color: white;
}

.border-primary {
    border: 1px solid var(--primary-color);
}

.border-radius-50 {
    border-radius: 50%;
}

.border-radius-15 {
    border-radius: 15px;
}

/* Estilos de elementos */
.rounded {
    border-radius: 50%;
}

.img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-align-right {
    text-align: right;
}

.text-align-center {
    text-align: center;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-gap {
    gap: 10px;
}

/* Tarjetas */
.card {
    width: 182px;
    border: 1px solid black;
    border-radius: 0 0 15px 15px;
    flex-shrink: 0;
}

.card img {
    width: 100%;
    border-bottom: 1px solid black;
}

/* Botones y enlaces */
a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
